<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
    <div ng-app="" ng-init="firstName='John'">
        <p>The name is <span ng-bind="firstName"></span></p>

        <p>This is an example in HTML5</p>
        <p>the difference with previous version is that it inclused the prefix data-</p>
        <div data-ng-app="" data-ng-init="firstName='John'">
            <p>The name is <span data-ng-bind="firstName"></span></p>
        </div>

        <div ng-app="">
            <p>My first expression: {{ 5 + 5 }}</p>
        </div>

        <p>Expression with numbers</p>
        <div ng-app="" ng-init="quantity=1;cost=5">
            <p>Total in dollar: {{ quantity * cost }}</p>
        </div>

        <p>Expression with Strings</p>
        <div ng-app="" ng-init="firstName='John';lastName='Doe'">
            <p>The full name is: {{ firstName + " " + lastName }}</p>
        </div>

        <p>Expression using ng-bind with Strings</p>
        <div ng-app="" ng-init="firstName='John';lastName='Doe'">
            <p>The full name is: <span ng-bind="firstName + ' ' + lastName"></span></p>    
        </div>

        <p>Expression with Objects, in this case person object</p>
        <div ng-app="" ng-init="person={firstName:'John',lastName:'Doe'}">
            <p>The name is {{ person.lastName }}</p>
        </div>


        <p>Expression using ng-bind with Objects, in this case person object as well</p>
        <div ng-app="" ng-init="person={firstName:'John',lastName:'Doe'}">
            <p>The name is <span ng-bind="person.lastName"></span></p>    
        </div>

        <p>Expression with arrays</p>
        <div ng-app="" ng-init="points=[1,15,19,2,40]">
            <p>The third result is {{ points[2] }}</p>    
        </div>

        <p>Expression using ng-bind with Arrays</p>
        <div ng-app="" ng-init="points=[1,15,19,2,40]">
            <p>The third result is <span ng-bind="points[2]"></span></p>    
        </div>
    </div>
</body>
</html>