<!DOCTYPE html>
<html>
    <link href="https://content.codecademy.com/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="css/main.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-mocks.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-route.js"></script>
<body>

<div ng-app="myApp">
    <div class="main" ng-controller="myCtrl">
        <div class="container">
  
          <h1>{{ title }}</h1>
          <h2>{{ promo }}</h2>
  
  

          <div ng-repeat="product in products" class="col-md-6"> 
            <div class="thumbnail"> 
              <img ng-src="{{ product.cover }}"> 
              <p class="title">{{ product.name }}</p> 
              <p class="price">{{ product.price | currency }}</p> 
              <p class="date">{{ product.pubdate | date }}</p>
              <div class="rating"> 
            <p class="likes" ng-click="plusOne($index)">+ {{product.likes}}</p> 
          </div>
          <p class="dislikes" ng-click="minusOne($index)">+ {{product.dislikes}}</p> 
          </div>  
            
          </div> 
          </div>
      </div>
</div>
<!-- Modules -->
<script src="js/myApp.js"></script>

<!-- Controllers -->
<script src="js/controllers/myCtrl.js"></script>

</body>
</html>
